.car{
    padding: 10px;
    margin: 4px;
}

.car:hover{
    background-color: rgb(203, 203, 201);
    cursor: pointer;
    border-radius: 5px;
}

.disable{
    pointer-events: none;
    cursor: none;
}