.table-container {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%; /* Adjust the width as needed */
  margin-bottom: 10px;
  padding: 20px;
  height: 600px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.user-table th,
.user-table td {
  padding: 12px;
  border: 1px solid #111;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
}

/* Button styling */
.user-table td button {
  padding: 8px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}

/* Hover effect for better interactivity */
.user-table td button:hover {
  background-color: #111;
}

/* Responsive styles */
@media (max-width: 600px) {
  .user-table th,
  .user-table td {
    font-size: 14px;
    padding: 10px; /* Adjust padding for smaller screens */
  }

  /* Center-align text on small screens */
  .user-table th,
  .user-table td,
  .user-table td button {
    text-align: center;
  }
}
