.signup-page {
  margin: 0 auto;

  width: 90%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width for smaller screens */
  margin-bottom: 10px;
  padding: 20px;
  height: 600px;
}

.signupbox {
  border: 2px solid #111; /* Border styling */
  border-radius: 10px; /* Optional: Add border radius for a rounded look */
  box-sizing: border-box;
  padding: 2rem;
  padding-bottom: 3rem;
}

.form-group {
  margin-bottom: 5px;
}

label {
  display: block;
  margin-bottom: 1px;
}

input[type="text"]:required,
input[type="tel"]:required,
input[type="email"]:required,
input[type="password"]:required {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-link {
  float: left;
  font-size: 15px;
  color: #0829be;
  margin-top: 10px;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
